# These non-standard packages are needed to run app_streamlit.py
# To install them, type this into your terminal:
# pip install --upgrade -r requirements.txt

streamlit
openai
python-docx
PyPDF2
markdown2
xhtml2pdf